Source: autobuild
Priority: optional
Maintainer: rail5 <andrew@rail5.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: utils

Package: autobuild
Version: 2.0
License: AGPL-3.0
Vendor: rail5 <andrew@rail5.org>
Priority: optional
Architecture: all
Depends: sudo, xdg-utils, pulseaudio-utils, build-essential, make, git, wget, curl, devscripts, xz-utils, jq, reserialize, reprepro, sshpass, libarchive-tools, syslinux, syslinux-utils, cpio, genisoimage, qemu-system, qemu-utils, net-tools
Description: Automatically build & distribute multi-arch Debian packages from source
 Autobuild builds Debian packages from Git sources and distributes them
