#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	install -D -m 0755 config.example "$$(pwd)/debian/autobuild/usr/share/autobuild/config.example"
	cp -r build-farm "$$(pwd)/debian/autobuild/usr/share/autobuild/build-farm"
	install -D -m 0755 autobuild "$$(pwd)/debian/autobuild/usr/bin/autobuild"
	install -D -m 0755 autobuild-setup "$$(pwd)/debian/autobuild/usr/bin/autobuild-setup"
