#!/usr/bin/env sh

## Configuration file EXAMPLE
## Edit the ACTUAL config file (config.sh) before use

# SYSTEM

host_architecture="amd64"
debian_distribution="bullseye"


# PACKAGES

declare -A packages
packages=()

packages+=(["debian-package-1"]="https://github.com/github-username/pkg1.git")
packages+=(["debian-package-2"]="https://github.com/github-username/pkg2.git")


## Build dependencies for your packages
## SET THIS **BEFORE** RUNNING THE SETUP SCRIPT
## AND ESPECIALLY BEFORE CREATING THE BUILD FARM VMS
build_dependencies="build-dependency-1 build-dependency-2 these-packages should-be-findable in-the-debian-repos"


# GITHUB

## GitHub info: Username and Access Token
## This user should be the owner of the Git repositories
OWNER="github-username"
ACCESS_TOKEN="ghpat_github-access-token"

## Location of the Debian Repo we may push to
## This script can push to a Debian Repository hosted on GitHub pages (or similar)
git_debianrepo="https://github.com/github-username/ppa.git"
local_repodirectory="repo"
